@import url('http://fonts.cdnfonts.com/css/games');


/* Background: #ffd257 */
/* Text color: #895e7a */
/* Hover: #007791 */


* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body { 

    font-family: "games";
    margin:0 auto;
    background-color: #ffd257;
}

h1,h2,p{
    color:#895e7a;
}

nav img {
    margin-top:5px;
    margin-left:15px;
    width:65px;
}

header { 
    height:80px;
    background-color: #ffe8ae;
}

nav li { 
    position: relative;
    bottom:40px;
    margin-right:15px;
    padding-left:30px;
    float:right;
    display: inline-block;
}

nav a {
    color: #895e7a;
    text-decoration: none;
}

nav a:hover { 
    color: #007791;
}

main { 
    margin: 20px;
}

nav li:hover { 

}

section img { 
    width:350px;
}

section {
    margin:40px; 
    text-align:  center;
}

h1 { 
    font-size: 3rem;
}

section p { 
    margin:10px;
    padding:10px;
    font-size: 1.5rem;
}


section button  { 
    font-weight: bold;
    color: #895e7a;
    font-size: 1rem;
    background-color: #ffe8ae;
    position: relative;
    top:40px;
    right:220px;
    cursor: pointer;
    border-radius: 20px;
    padding:15px;
    border:none;
    border:2px solid #895e7a;
}

section button:hover { 
    background-color: #895e7a;
}


footer { 
    height: 80px;
    background-color: #ffe8ae;
}

footer li { 
    color: #895e7a;
    margin:20px;
    float: right;
display: inline-block;
    
}

footer a { 
    position: relative;
    top:40px;
    margin:10px;
    text-decoration: none;
    color:#895e7a

}

section h2 { 
margin: 50px;
position: relative;
right:40px;
top:10px;

}


