@import url('http://fonts.cdnfonts.com/css/games');


/* Background: #ffd257 */
/* Text color: #895e7a */
/* Hover: #007791 */


* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body { 

    font-family: "games";
    margin:0 auto;
    background-color: #ffd257;
}

h1,h2,p{
    color:#895e7a;
}

nav img {
    margin-top:5px;
    margin-left:15px;
    width:65px;
}

header { 
    border: 1px solid #895e7a ;
    overflow: hidden;
    height:80px;
    background-color: #ffe8ae;
}


nav li { 
    position: relative;
    bottom:40px;
    margin-right:15px;
    padding-left:30px;
    float:right;
    display: inline-block;
}

nav a {
    color: #895e7a;
    text-decoration: none;
}

nav a:hover { 
    color: #007791;
    border: solid 5px;
    padding: 7.5px;
    border-radius: 15px;
    border-color: #895E7A;
    border-style: double
}

main { 
    margin: 20px;
}

nav li:hover { 

}

section img { 
    width:325px;
}

section {
    margin:40px; 
    text-align:  center;
}

h1 { 
    font-size: 3rem;
}

section p { 
    margin:10px;
    padding:10px;
    font-size: 1rem;
}


section button  { 
    font-weight: bold;
    color: #895e7a;
    font-size: 1rem;
    background-color: #ffe8ae;
    position: relative;
    top:40px;
    right:220px;
    cursor: pointer;
    border-radius: 20px;
    padding:15px;
    border: solid 5px;
    padding: 7.5px;
    border-radius: 15px;
    border-color: #895E7A;
    border-style: double
}

section button:hover { 
    color:#ffe8ae;
    background-color: #895e7a;
}


footer { 
    border: 2px solid #895e7a ;
    height: 110px;
    background-color: #ffe8ae;
}

footer li { 
    padding:5px;
    color: #895e7a;
    margin:20px;
    float: right;
    display: inline-block;
    border: solid 5px;
    padding: 7.5px;
    border-radius: 15px;
    border-color: #895E7A;
    border-style: double;  

    
    
}

footer a { 
    text-decoration: none;
    color: #895E7A;
    position: relative;
    top:50px;
    margin-left: 10px;
    border: solid 5px;
    padding: 7.5px;
    border-radius: 15px;
    border-color: #895E7A;
    border-style: double;    

}

footer li:hover { 
    color:#007791
}

section h2 { 
margin: 50px;
position: relative;
right:40px;
top:10px;

}
.duck { 
    max-width:25px;
}
